@model IEnumerable<EVProjectDup.Models.Booking>
@using EVP.Utility
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CSId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

            if (@ViewBag.station?.CSId == item.CSId && User.IsInRole(SD.Role_User_Sta))
            {
                
           

                <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CSId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PortNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.BId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BId">Delete</a>

                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole( SD.Role_User_Sta))
                    {
                        
                    
                    <a asp-action="Edit" asp-route-id="@item.BId">Edit</a> 
                
                
                   


                    }
            </td>
        </tr>
    }

            if (@ViewBag.bookings?.UserName == item.UserName && User.IsInRole(SD.Role_User_Indi))
            {



                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CSId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PortNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.BId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.BId">Delete</a>

                        @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_User_Sta))
                        {


                            <a asp-action="Edit" asp-route-id="@item.BId">Edit</a>


                            

                        }
                    </td>
                </tr>
            }



            if ( User.IsInRole(SD.Role_Admin))
            {



                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CSId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PortNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.BId">Details</a> |

                        @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_User_Sta))
                        {


                            <a asp-action="Edit" asp-route-id="@item.BId">Edit</a>


                            <a asp-action="Delete" asp-route-id="@item.BId">Delete</a>

                        }
                    </td>
                </tr>
            }

        }     
    </tbody>
</table>
